header{
	height: 100px;
	background-image:  linear-gradient(rgb(205,133,63), rgb(225, 141, 56));
	width: 100%;
}
#imp{
  height: 100%;
  width: 10%;
  position: relative;
  left: 46%;
}
#link{
	position: relative;
	left: 95%;
	top: -80%;
}
*{
  padding: 0;
  margin: 0;
}